/* Specifying custom font faces */
/* ============================ */
@font-face
{
    font-family: Abel;
    src: url(../fonts/Abel-Regular.ttf);
}
@font-face 
{
    font-family: Barlow;
    src: url(../fonts/Barlow-Regular.ttf);
}
@font-face 
{
    font-family: Barlow;
    src: url(../fonts/Barlow-Bold.ttf);
    font-weight: bold;
}
@font-face 
{
    font-family: Barlow;
    src: url(../fonts/Barlow-Italic.ttf);
    font-style: italic;
}
@font-face 
{
    font-family: Barlow;
    src: url(../fonts/Barlow-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}
@font-face
{
    font-family: "Libre Baskerville";
    src: url(../fonts/LibreBaskerville-Regular.ttf);
}
@font-face 
{
    font-family: "Libre Baskerville";
    src: url(../fonts/LibreBaskerville-Bold.ttf);
    font-weight: bold;
}
@font-face 
{
    font-family: "Libre Baskerville";
    src: url(fonts/LibreBaskerville-Italic.ttf);
    font-style: italic;
}
@font-face 
{
    font-family: Noto-Serif;
    src: url(../fonts/NotoSerif-VariableFont_wdth\,wght.ttf);
}
@font-face 
{
    font-family: Noto-serif;
    src: url(../fonts/NotoSerif-Italic-VariableFont_wdth\,wght.ttf);
    font-style: italic;
}

/* Make the box-sizing of every element to border box */
*
{
    box-sizing: border-box;
}

/* Plain text link */
a
{
    color: blue;
}

/* Plain text link that has been visited */
a:visited
{
    color: blue;
}

/* The back of the webpage itself */
body
{   
    background-color:#000000;
    margin: 0;

    font-family: Abel, Barlow, Arial;
    font-size: 1em;
}

/* Mobile Display Style Rule */
/* ========================= */

/* The navigation area at the top */
nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* make the navigation bar stick at the top */
    position: sticky;
    top: 0;

    border-bottom-width: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    
    background-color: #c8b6a6;
    color:#000000;
    padding: 0.5em;

    width: 100%;

    font-family: Noto-serif, "Libre Baskerville", Georgia;
}

.nav__div--empty /* This class is used to configure the empty div in order to center the logo */
{
    margin-left: auto; /* margin-left to auto will align this flex item to the right */

    /* The following declarations are used to configure the space taken up by the empty div
    so that it will take up the same space as the menubutton, thus centering the logo*/
    /* kinda hard coded this part */
    padding-right: 0.4em;
    padding-left: 0.4em;
    width: 40px;
}

/* The vertical side navigation */
.sidebarNav
{
    list-style-type: none;

    border-width: 1px;
    border-top-width: 0;
    border-style: solid;

    padding-left: 0;
    padding-top: 2em;

    background-color: #c8b6a6;

    position: fixed;
    z-index: 1;
    height: 100%;

    margin: 0;
    top: 0;
    left: 0;
    
    /* width is 0 to hide the sidebar, we will use javascript to modify it so that it will be displayed */
    width: 0;

    /* Setting overflow-x to hidden will allow the content of the side navigation bar to be invisible when the width is 0 */
    /* Because the content will become visible even when the width is 0, as the width is only for the bar itself */
    overflow-x: hidden;
    /* overflow-y to scroll to provide a scroll bar for users if they zoomed in while using the side navigation */
    overflow-y: auto;
    
    transition: 1.0s;
}

/* The links in the side navigation */
.sidebarNav li a
{
    display: inline-block;

    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    /* override the default blue colour for <a> */
    color: inherit;
    

    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 3em;  
}

/* The list item that contains the sign in button */
.sidebarNav li.signIn
{
    margin-top: 1em;
    text-align: center;
}

/* Configure the background color to change when the cursor is hovered over for the links in the sidebar */
/* The sign in button is exempted from this */
/* The close icon is exempted from this through javascript */
.sidebarNav li:not(li.signIn):hover
{
    background-color: #d9d9d9;
}

/* The sign-in button itself */
.sidebarNav li .signInBtn
{
    background-color: #d9d9d9;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;

    padding: 0.5em;
}

/* invert the color of the button on hover */
.sidebarNav li .signInBtn:hover
{
    background-color: #000000;
    color: #d9d9d9;
}

/* The close icon */
.closeButton 
{
    font-size: 3.5em;
    text-align: center; /* align the close (cross) icon */

    padding-top: 0;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 0;

    cursor: pointer;
}

/* Each horizontal line in the sidebar */
.sidebarNav hr
{
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    border-style: solid;
    border-width: 1.5px;
    border-color:#000000;
}

/* the nested ul that hold the promo link */
.dropdown--promoContent
{
    display: inline-block;

    padding: 0;
    margin: 0;
    list-style-type: none;
    background-clip: border-box;

    text-indent: 1em;
}

/* use a different colour to highlight the promo link when mouse is hovered over it */
.sidebarNav li .dropdown--promoContent li:hover
{
    background-color: #f1dec9;
}


/* The menu button */
.menuButton
{
    border-width: 2px;
    border-style: solid;
    padding-left: 0.4em;
    padding-right: 0.4em;
    margin-right: auto;
    background-color: #d9d9d9;
    cursor: pointer;
}

/* The "bar" that makes up the menu button */
.menuButton>div
{
    width: 40px;
    height: 4px;
    background-color: #000000;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-right: 0px;
    margin-left: 0px;
}


/* The main content area in the body */
main
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 30em; /* A placeholder to show the area of the main content, should be removed later */
    background-color: #a4907c;
}

/* The footer area */
footer
{   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
    background-color: #c8b6a6;
    width: 100%;

    font-size: 0.6em;
}

/* Contact information section in footer */
.footer__contact
{
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0;
    padding-right: 5em;

    border-style: dashed;

    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right-width: 0.2em;
}

/* Plain text links in footer area */
.footer__links
{
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0;
    padding-right: 0;

    display: inline-flex;
    justify-content: center;
}

/* Each of the list in the footer area that contain that links */
.footer__links ul
{
    list-style-type: none;
    display: inline-block;
    padding-left: 3em;
    padding-right: 3em;
}

/* Each link in the footer area */
.footer__links li 
{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}


/* Remove the underline of the <a> tags in the footer area */
.footer__links li a
{   
    text-decoration: none;
}

/* For desktop display */
/* =================== */

@media screen and (min-width: 768px) 
{
    nav
    {
        /* change to justify-content to flex-start, the other alignment will follow what was defined */
        justify-content: flex-start;
    }

    /* The cafe logo */
    nav a img
    {
        /* set margin-right to auto will push the logo to the right as menu and the empty div are set to display: none */
        margin-right: auto;
    }

    /* Hide the menu button, close button, the empty div and all the horizontal lines on mobile display */
    .menuButton,
    .closeButton,
    .nav__div--empty,
    .sidebarNav hr
    {
        display: none;
    }

    .sidebarNav
    {
        margin-left: auto; /* margin-left to auto will push the list of links to the right */
        position: static; /* the default value, so that the links will be in the normal flow */
        width: fit-content; /* "Unhide" the navigation links */
        height: fit-content;

        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 5em;

        display: inline; /* make the list become inline */

        border-style: none;

        font-size: 1.2em;

        overflow-y: hidden;

        transition: 0s; /* remove any transition effect */ 
    }

    .sidebarNav li.signIn
    {
        margin: 0; /* remove the margin above the sign in button on desktop */
    }

    /* make the list item except the close icon become inline-block */
    /* this is to display the links horizontally */
    .sidebarNav li:not(.closeButton)
    {
        display: inline-block;
    }

    /* make the text color change on hover instead of the whole background on desktop display */
    .sidebarNav li:not(li.signIn):hover
    {
        background-color: #c8b6a6;
        color: #d9d9d9;
    }

    .sidebarNav li a
    {
        /* remove any padding except the right so that there will be some space between each link */
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0.9em;
    }

    /* The "menu" link that will dropdown the promo link */
    .sidebarNav li .dropdown--promo
    {
        position: relative;
    }

    /* The nested ul that holds the promo link */
    .dropdown--promoContent
    {
        text-indent: 0;
        display: none;
        position: absolute;

        width: 150px;
        height: fit-content;
        background-color: #c8b6a6;
        box-shadow: 0px 5px 8px #000000;
        
        margin: 0;
        padding: 0.5em;
        z-index: 1;

    }

    /* change the background color once the drop down content is hovered over */
    .sidebarNav li .dropdown--promoContent li:hover
    {
        background-color: #c8b6a6;
    }

    .dropdown--promo:hover .dropdown--promoContent
    {
        display: block;
        color: #000000; /* override the platinum text color on hover when the dropdown list is first shown */
    }

    /* bigger font size for footer on desktop */
    footer
    {
        font-size: 1em;
    }

}
