/* Specifying custom font faces */
/* ============================ */
@font-face
{
    font-family: Abel;
    src: url(fonts/Abel-Regular.ttf);
}
@font-face 
{
    font-family: Barlow;
    src: url(fonts/Barlow-Regular.ttf);
}
@font-face 
{
    font-family: Barlow;
    src: url(fonts/Barlow-Bold.ttf);
    font-weight: bold;
}
@font-face 
{
    font-family: Barlow;
    src: url(fonts/Barlow-Italic.ttf);
    font-style: italic;
}
@font-face 
{
    font-family: Barlow;
    src: url(fonts/Barlow-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}
@font-face
{
    font-family: Libre Baskerville;
    src: url(fonts/LibreBaskerville-Regular.ttf);
}
@font-face 
{
    font-family: Libre Baskerville;
    src: url(fonts/LibreBaskerville-Bold.ttf);
    font-weight: bold;
}
@font-face 
{
    font-family: Libre Baskerville;
    src: url(fonts/LibreBaskerville-Italic.ttf);
    font-style: italic;
}
@font-face 
{
    font-family: Noto-Serif;
    src: url(fonts/NotoSerif-VariableFont_wdth\,wght.ttf);
}
@font-face 
{
    font-family: Noto-serif;
    src: url(fonts/NotoSerif-Italic-VariableFont_wdth\,wght.ttf);
    font-style: italic;
}

/* Mobile Display Style Rule */
/* ========================= */

/* The back of the webpage itself */
body
{   
    background-color:#000000;
    margin: 0;
}

/* The navigation area at the top */
nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #c8b6a6;
    padding: 0.5em;

    width: 100%;

    font-family: Noto-serif, Libre Baskerville, Georgia;
}

.nav__div--empty /* This class is used to configure the empty div in order to center the logo */
{
    margin-left: auto; /* margin-left to auto will align this flex item to the right */

    /* The following declarations are used to configure the space taken up by the empty div
    so that it will take up the same space as the menubutton, thus centering the logo*/
    padding-right: 0.4em;
    padding-left: 0.4em;
    width: 40px;
}

/* The vertical side navigation */
.sidebarNav
{
    list-style-type: none;

    border-width: 1px;
    border-top-width: 0;
    border-style: solid;

    padding-left: 0;
    padding-top: 2em;

    background-color: #c8b6a6;

    position: fixed;
    z-index: 1;
    height: 100%;

    margin: 0;
    top: 0;
    left: 0;
    
    /* width is 0 to hide the sidebar, we will use javascript to modify it so that it will be displayed */
    width: 0;

    /* Setting overflow to hidden will allow the content of the navigation bar to be invisible when the width is 0 */
    /* Because the content will become overflowed and will be visible even when the width is 0 */
    overflow: hidden;  

    transition: 1.0s;
}

/* The list item (links) in the side navigation */
.sidebarNav a
{
    display: inline-block;

    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 3em;  
}

.sidebarNav li:hover:not(.closeButton) 
{
    background-color: #d9d9d9;
}

.sidebarNav .closeButton 
{
    font-size: 3.5em;
    text-align: center; /* align the close (cross) icon */

    padding-top: 0;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 0;

    cursor: pointer;
}

/*
.sidebarNav .closeButton:hover
{
    background-color: #c8b6a6; 
    color: #d9d9d9;
}
*/
/* explicitly override the background-color back to the default */

/* Styling the hr in the side navigation */
.sidebarNav hr
{
    width: 75%;
    margin-top: 0;
    margin-bottom: 0;
    border-style: solid;
    border-width: 1.5px;
    border-color:#000000;
}


/* The menu button */
.menuButton
{
    border-width: 2px;
    border-style: solid;
    padding-left: 0.4em;
    padding-right: 0.4em;
    margin-right: auto;
    background-color: #d9d9d9;
    cursor: pointer;
}

/* The "bar" that makes up the menu button */
.menuButton>div
{
    width: 40px;
    height: 4px;
    background-color: #000000;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-right: 0px;
    margin-left: 0px;
}


/* The main content area in the body */
.content
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 30em; /* A placeholder to show the area of the main content, should be removed later */
    background-color: #a4907c;

    font-family: Abel, Barlow, Arial;
    
}

/* The footer area */
footer
{   
    display: flex;
    background-color: #c8b6a6;
    padding-bottom: 10em; /* Placeholder to show the area of the footer */
    width: 100%;

    font-size: 0.5em;
}